# OS固有ファイル
.DS_Store
Thumbs.db

# node_modulesとビルド生成物
node_modules/
dist/
dist-ssr/

# ログ・一時ファイル
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local

# エディタ・IDE
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# テストカバレッジ
coverage/

# 環境変数ファイル
.env
.env.*
!*.example

# その他
logs/
settings.local.json
