@theme {
  --color-yui-green: #a1fe9f;
  --color-yui-pink: #ff69b4;
  --color-yui-pink-light: #ffe4ef;
  --color-yui-pink-border: #ff69b4;
  --color-ie-gray: #b1b1b1;
  --color-ie-blue: #4a90e2;
  --color-ie-bg: #f3f3f3;

  --font-yui: 'MS UI Gothic', Arial, sans-serif;
}
